<<<<<<< HEAD
=======
/* style.css */
/* html style */
>>>>>>> UserService
html, body{
    margin: 0px; 
    padding: 0px;	
    height: 100%;
    width: 100%;
	color: #F5F5F5;
	font-size: 14px;
    font-family: Geneva, sans-serif, MS PGothic, Hiragino Kaku Gothic Pro;
    background: #202020;
}
<<<<<<< HEAD

=======
/* a style */
>>>>>>> UserService
a{
    color: #F5F5F5;
    text-decoration: none;
}
<<<<<<< HEAD

a:hover{
    color: #C70039;	
}

=======
/* a:hover style */
a:hover{
    color: #C70039;	
}
/* img style */
img{
	width: 100%;
	height: 100%;
}
/* .wrap style */
>>>>>>> UserService
.wrap{
	width: 90%;
	max-width: 1550px;
	position: relative;
	margin: 0 auto;
	padding: 0px;
	padding-top: 90px;
}
<<<<<<< HEAD

=======
/* .nav style */
>>>>>>> UserService
.nav{
	position: relative;
	margin: 0 auto;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px;
	background: #080808;
	text-align: center;
	overflow: hidden;
}
<<<<<<< HEAD

=======
/* .linkContent a style */
>>>>>>> UserService
.linkContent a{
	margin: 5px;
	padding: 10px;
	float: left;
	color: #FFFFFF;
	background: #000000;
	text-decoration: none;
	overflow: hidden;
	border: 1px solid #141618;
	border-radius: 2px;
}
<<<<<<< HEAD

=======
/* .linkContent a:hover style */
.linkContent a:hover{
	color: #000000;
	background: #FFFFFF;
	border: 1px solid #FFFFFF; 
}
/* .logoContent style */
.logoContent a{
	margin: 5px;
	width: 120px;
	height: 50px;
	float: left;
	color: #FFFFFF;
	border: 1px solid #C70039;
	border-radius: 2px;
}
/* .linkContent a .current style */
>>>>>>> UserService
.linkContent a .current{
	color: #C70039;
	background: #C70039;
	background: #C70039;
}
<<<<<<< HEAD

=======
/* .mainContent style */
>>>>>>> UserService
.mainContent{
	position: relative;
	margin: 0 auto;
	margin-bottom: 15px;
	padding:  15px;
	background: #080808;
	border: 0.5px solid #000000;
}
<<<<<<< HEAD

=======
/* .signContent style */
>>>>>>> UserService
.signContent{
    position: relative;
    margin: 0 auto;
	margin-bottom: 15px;
    width: 25%;
	padding: 15px;
    background: #080808;
    border-radius: 2px;
	border: 0.5px solid #000000;
}
<<<<<<< HEAD

=======
/* .subContent{ style */
>>>>>>> UserService
.subContent{
    display: block;
	margin: 0 auto;
	padding: 10px 0px;
	overflow: hidden;
}
<<<<<<< HEAD

.input{
	width: 100%;
	padding: 5px;
=======
/* .input style */
.input{
	width: 100%;
	padding: 5px;
	color: #000000;
>>>>>>> UserService
	box-sizing: border-box;
	border-radius: 2px;
	margin-bottom: 10px;
    border: 0.5px solid #DCDCDC; 
	box-shadow: 0 1px 4px rgba(0,0,0,0.25);
}
<<<<<<< HEAD

=======
/* .h1 style */
>>>>>>> UserService
.h1{
    margin: 0 auto;
	font-size: 55px;
	padding: 0px;
}
<<<<<<< HEAD

=======
/* .h3 style */
>>>>>>> UserService
.h3{
    margin: 0 auto;
	font-size: 20px;
	color: #696969; 
	padding: 0px;
}
<<<<<<< HEAD

=======
/* .p style */
>>>>>>> UserService
.p{
	margin: 0 auto;
	padding: 0px;
}
<<<<<<< HEAD

.lineFooter{
	border: 0.5px solid #C70039;
}

=======
/* .error style */
.error{
	margin: 0 auto;
	padding: 0px;
	color: #C70039;
}
/* .lineFooter style */
.lineFooter{
	border: 0.5px solid #C70039;
}
/* .chatboxContent style */
>>>>>>> UserService
.chatboxContent{
    position: relative;
	margin: 0 auto;
	width: 100%;
	height: auto;
    min-height: 30px;
	padding: 10px;
	background: #F5F5F5;
	border: 0.5px solid #DCDCDC;
    border-radius: 2px	
}
<<<<<<< HEAD

img{
	width: 100%;
	height: 100%;
}

=======
/* .userMessage style */
>>>>>>> UserService
.userMessage{
	position: relative;	
	margin: 5px;
	
    border-radius: 2px;
	padding: 10px 5px;
	background: #000000;
	border: 0.5px solid #C70039;
}
<<<<<<< HEAD

.white{
	background: #FFFFFF;
}

=======
/* .white style */
.white{
	background: #FFFFFF;
}
/* .smallButton style */
>>>>>>> UserService
.smallButton{
	margin: 0 auto;
	margin-top: 15px;
    color: #FFFFFF;
	padding: 10px 20px;
	background: #000000;
	border: 1px solid #C70039; 
	cursor: pointer;
	overflow: hidden;
}
<<<<<<< HEAD

=======
/* .button style */
>>>>>>> UserService
.button{
    display: block;
    width: 100%;
	margin: 0 auto;
	margin-top: 15px;
    color: #FFFFFF;
	padding: 10px 20px;
	background: #000000;
	text-align: center;
	border: 1px solid #C70039; 
	cursor: pointer;
	overflow: hidden;
}
<<<<<<< HEAD

.button:hover, .smallButton:hover{
	color: #000000;
	background: #FFFFFF;
=======
/* .button:hover, .smallButton:hover style */
.button:hover, .smallButton:hover{
	color: #000000;
	background: #FFFFFF;
	border: 1px solid #FFFFFF; 
>>>>>>> UserService
}