<!-- main content -->
<div class="mainContent">  
     <div class="h1">Chat</div>
	 <div class="lineFooter"></div>
	 <div class="subContent"> <!--*ngFor="let user of users;"-->
	     <div class="userList"> 
	         <div class="h3">Online Users</div>
		     <div class="p">{{userName}}</div>		
		     <button (click)="getUser()" type="submit" name="submit" class="smallButton" *ngIf="checkIFGroupAdmin"><i class="fas fa-plus"></i> Add User</button>
		     <button (click)="removeUser()" type="submit" name="submit" class="smallButton"*ngIf="checkIFGroupAdmin"><i class="fas fa-trash-alt"></i> Remove User</button>
		 </div>
		 <div class="userList"> 
		     <div class="h3">Rooms</div>
             <div class="p">RoomID: 1 Room: Lobby</div>			 
		     <button (click)="removeChannel()" type="submit" name="submit" class="smallButton" *ngIf="checkIFGroupAdmin"><i class="fas fa-trash-alt"></i> Remove Room</button>
		 </div>
		 <div class="userList" *ngIf="checkIFGroupAdmin"> 
		     <div class="p">Room name</div>
		     <form (submit)="addChannel($event)">
		         <input [(ngModel)]="room" type="text" name="room" class="input" id="room" placeholder="Room Name"/>
		         <button type="submit" name="submit" class="smallButton"><i class="fas fa-plus"></i> Add Room</button>
			 </form>
	     </div>
	 </div>
	 <!-- message box -->
	 <div class="messageContent">
	     <div class="p black" *ngIf="!messages">No messages Yet.</div>
	     <div class="userMessage" id="1" *ngFor="let message of messages;">
		     <!-- user message -->
			 <div class="userTextBoxContent">
			     <div class="userBox">{{message.username}}</div>
				 <span class="userText">{{message.text}}</span>
			 </div>
		 </div>
	 </div>
</div>
<!-- main content -->
<div class="mainContent">
     <div class="subContent">
	     <input [(ngModel)]="message" class="input" name="message" id="message" placeholder="What's on your mind."/> 
		 <button (click)="sendMessage()" type="submit" name="submit" class="smallButton">Send</button>
	 <div>
</div>
