<!-- main content -->
<div class="mainContent">  
     <div class="h1">Chat Room</div>
	 <div class="lineFooter"></div>
	 <div class="subContent"> 
	     <div class="p">Welcome {{userName}}</div>
	 </div>
	 <!-- message box -->
	 <div class="messages">
	     <div class="subContent white message"> 
	         <div class="userMessage" id="1" *ngFor="let message of messages;">
			     <!-- user message -->
			     <div class="userTextBoxContent">
			         <div class="userBox"></div>
				     <span class="userText">{{message.text}}</span>
			     </div>
		     </div>
	     </div>
	 </div>
</div>
<!-- main content -->
<div class="mainContent">
     <div class="subContent">
	     <div class="p">Message box</div>
	     <input [(ngModel)]="message" class="chatboxContent" name="message" placeholder="Enter message"/>
		 <button (click)="sendMessage()" type="submit" name="submit" class="smallButton">Post</button>
	 </div>
</div>

