<!-- sgin content -->
<div class="signContent" *ngIf="!login">   
	 <div class="h1">login</div>
         <div class="lineFooter"></div>			 
	     <div class="subContent">
		     <div class="error" id="fail"></div>
		     <form (submit)="loginUser($event)">
			     <div class="text">UserName</div>
			     <input [(ngModel)]="username" type="text" name="username" class="input" id="username" placeholder="Username"/>
		         <div class="text">Email</div>
		         <input [(ngModel)]="email" type="email "name="email" class="input" id="email" placeholder="Email"/>			 
				 <button type="submit" class="button">Login</button>
			 </form>
		 </div>
     <div class="p"><a routerLink="home">Create Account.</a></div>
</div>
<!-- sgin content -->
<div class="signContent" *ngIf="login"> 
     <div class="h1">Sign Out</div>
	 <div class="lineFooter"></div>	
	 <div class="subContent">
	     <div class="p">You're already sign in.</div>
	     <button (click)="logout()" type="submit" name="submit" class="button">Login</button>
	 </div>
</div>
